<% if current_user and shop.favorites.exists?(shop_id: shop.id) %>
  <% # お気に入り色 %>
  <span style="color: #0074c3;" id="favorites-<%=shop.id%>">
<% else %>
  <span style="color: #888;" id="favorites-<%=shop.id%>">
<% end %>

<% count = shop.favorites.count %>
<% if count > 0 %>
  <%= count %>
<% else %>
  &nbsp;
<% end %>

</span>
