
<% content_for :head do %>
<meta name="description" content="A.B.C-Zのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。A.B.C-Zのチケットはチケットリングにお任せ!!ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。">
<% end %>
<% content_for :title do %>
A.B.C-Zのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h2><strong>☆★A.B.C-Zのチケット一覧️★☆</strong></h2>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>グループ名は、Acrobat Boys Club の略にZを加えたもので、エービーシーズィーと読みます。メンバーは、橋本良亮（はしもとりょうすけ）、戸塚祥太（とつかしょうた）、河合郁人（かわいふみと）、五関晃一（ごせきこういち）、塚田僚一（つかだりょういち）。2001年から2008年頃までは「A.B.C.（エー.ビー.シー.）」として活動していた。テレビ、ラジオ、舞台など幅広く活動し2016年は MUSIC JAPAN、寝盗られ宗介、A.B.C-Z 橋本・河合W主演舞台 コインロッカーベイビーズなどに出演することが予定されている。</p>
</div>

<%= render 'form' %>