<% content_for :head do %>
<meta name="description" content="AKB48のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。AKB48のチケットはチケットリングにお任せ!!ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。">
<% end %>
<% content_for :title do %>
AKB48のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️AKB48のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>
AKB48は、2006年に「桜の花びらたち」でCDデビューした日本を代表するトップアイドルグループ。卒業メンバーには、前田敦子、大島優子、板野友美、野呂佳代がいる。<br />
秋元康によるプロデュースで東京の秋葉原を中心にアキバ系アイドルとして地道にアイドル活動を続けた後、日本の国民的トップアイドルとして不動の地位を確立しているグループです。<br />
AKB48は「会いたかった」でメジャーデビュー。専用劇場で毎日行われる公演やメンバー内での総選挙、じゃんけん大会などこれまでのアイドル界にはない斬新な企画で注目を浴びている。<br />「Beginner」以降の作品全てがミリオンセラー、2011年にはレコード大賞を獲得。<br />
会いにいけるアイドルをコンセプトにAKB劇場でのライブ活動を続けるだけでなく、ドームツアーや国立競技場などでのライブも成功させ、日本のCD販売記録なども大きく塗り替える功績を残しています。姉妹グループは国内にとどまらず海外でも結成されています。
  </p>
</div>
  <%= render 'form' %>