<% content_for :head do %>
<meta name="description" content="アレクサンドラスタン(Alexandra Stan)。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。アレクサンドラスタン(Alexandra Stan)のチケットはチケットリングにお任せ!!ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。">
<% end %>
<% content_for :title do %>
アレクサンドラスタン(Alexandra Stan)のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️アレクサンドラスタン(Alexandra Stan)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アレクサンドラスタンはルーマニア生まれのダンス系シンガーソングライター。「次世代ポップアイコン」「小悪魔ビートプリンセス」の異名を持つ。幼い頃から、ルーマニア国内において多くの音楽コンテストや音楽フェスティバルに出演し注目を集めていた。2009年発表のファーストデビューシングル 「Lollipop (Param Pam Pam)」がルーマニア国内のラジオ局でヘビーローテーションされ話題となる。<br />
  翌2010年にセカンドシングル「Mr.Saxobeat」で、彼女の知名度は瞬く間に世界中へと広がった。その勢いは記憶にも記録にも残る。ヨーロッパを中心に世界各国で1位を獲得したことはもちろん、全英チャートでも3位、20ヵ国以上でトップ10入りした。ルーマニアでは国内チャート史上初の記録となる8週間連続1位をキープという大偉業を成し遂げた。</p>
</div>
  <%= render 'form' %>