<% content_for :head do %>
<meta name="description" content="ALICE SARA OTTのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ALICE SARA OTTのチケットはチケットリングにお任せ!!ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。">
<% end %>
<% content_for :title do %>
ALICE SARA OTTのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ALICE SARA OTTのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ドイツ・ミュンヘン出身のピアニスト。主にドイツ語圏を中心とした地域におけるコンクールの優勝経験をもつ。オーストリアのザルツブルクにあるモーツァルテウム音楽大学でカール＝ハインツ・ケマリンクに師事。<br />1995年 ドイツ連邦青少年音楽コンクール優勝、スタインウェイ国際コンクール優勝。イタリア・リゲティ国際コンクール優勝 ハンブルク・スタインウェイコンクール優勝および特別観客賞受賞。
 グロートリアン・シュタインヴェークピアノコンクール優勝。カール・ラングピアノコンクール優勝。カール・ラングピアノコンクール優勝。など輝かしい実績がある。</p>
</div>
  <%= render 'form' %>