<% content_for :head do %>
<meta name="description" content="ドラゴンゲートのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。ドラゴンゲートのチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
ドラゴンゲートのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ドラゴンゲートのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>ドラゴンゲートは日本のプロレス団体です。最大の特徴はメキシカンスタイル「ルチャ・リブレ」を非常に高いレベルで実践している点になります。独自に進化させた華麗な空中殺法の応酬は、格闘技を超えて芸術の域に達していると言っても過言ではありません。所属選手は軽量級の比較的若い選手が多く、コスチュームやイベント演出も他団体とに比べ華やかなため、女性ファンも多いことで有名です。</p>
</div>
 <%= render 'form' %>