<% content_for :head do %>
<meta name="description" content="EARTH WIND&FIRE(アース ウインド&ファイヤー)のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。EARTH WIND&FIRE(アース ウインド&ファイヤー)のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
EARTH WIND&FIRE(アース ウインド&ファイヤー)のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️EARTH WIND&FIRE(アース ウインド&ファイヤー)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>デビューから40年以上、アース・ウィンド＆ファイアーはモーリス・ホワイトとフィリップ・ベイリーのツイン・ボーカルを軸に、70年代を中心に「セプテンバー」や「ブギー・ワンダーランド」、「アフター・ザ・ラヴ・ハズ・ゴーン」など数多くのヒット曲を連発し、音楽チャートを賑わせたヒット曲の数は30曲以上にも及び、今なお多くの人気を集めるソウル・ミュージック界の伝説的ファンク・バンドだ。</p>
</div>
 <%= render 'form' %>