<% content_for :head do %>
<meta name="description" content="fripSide(フリップサイド)のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。fripSide(フリップサイド)のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
fripSide(フリップサイド)のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️fripSide(フリップサイド)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>サウンドプロデューサーの八木沼悟志（sat）とボーカルの南條愛乃による音楽ユニット。<br />
  日本最大のインディーズ楽曲サイトmuzieでの、同人活動や楽曲発表で大きな人気を集めたことをきっかけに、ゲームやアニメなどの楽曲を手がけりようになり、これまでにテレビアニメ「恋姫†無双」やPCゲーム「ティンクル☆くるせいだーす」をはじめとする、数々の人気作品の楽曲を世に送り出し、ゲーム・アニメファンの間で絶大なる人気を誇る。<br />
  メジャーデビューシングルからアニメやゲームの主題歌に採用される事が多く2013年に発売したsister's noiseで初登場1位を獲得して大きく知名度を上げました。また、PVには多くのお笑い芸人や有名人を起用している。</p>
</div>
 <%= render 'form' %>