<% content_for :head do %>
<meta name="description" content="藤原さくらのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。藤原さくらのチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
藤原 さくらのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️藤原 さくらのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2016年4月期のテレビドラマ『ラヴソング』（フジテレビ系）で佐野さくら役として女優デビューを果たし、劇中では事務所の先輩である福山雅治の相手役に起用され、「soup」が主題歌として採用される。演技未経験ながらも『ラヴソング』での演技が評価され、オリコンが主催する第4回「コンフィデンスアワード・ドラマ賞」では、新人賞を受賞した。
  <br />オリジナルアルバム「full bloom」でインディーズデビュー。2015年に「à la carte」メジャーデビュー。2016年には、藤原さくら自身、初となるワンマンツアーを全8ヶ所で開催。
</p>
</div>
<%= render 'form' %>