<% content_for :head do %>
<meta name="description" content="ハロプロ(Hello! Project)のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。ハロプロ(Hello! Project)のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
ハロプロ(Hello! Project)のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ハロプロ(Hello! Project)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>芸能事務所であるアップフロントプロモーションに所属している女性アイドルグループの総称。<br />
    総合プロデュースをシャ乱Qのつんくが担当している。通称は「ハロプロ」。モーニング娘。や Berryz工房、 ℃-ute、 アンジュルム(スマイレージ)、 Buono!、 Juice=Juice、 光井愛佳など、人気アイドルが多数所属している。 1999年、初の「Hello! Project」の合同コンサート『Hello! Project '99 at 横浜アリーナ』が行われた。 2016年は「Hello! Project 2016 WINTER～DANCING!SINGING!EXCITING!～」を行い、全7カ所を回る。</p>
</div>
<%= render 'form' %>