<% content_for :head do %>
<meta name="description" content="Hey!Say!JUMPのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。Hey!Say!JUMPのチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
Hey!Say!JUMPのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Hey!Say!JUMPのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>Hey! Say! JUMPは、2007年に「Ultra Music Power」でデビューした9人組アイドルグループ。グループ内にHey! Say! 7と、Hey! Say! BESTの2つのユニットが存在する。ジャニーズの王道を受け継ぐアイドル路線で、メンバーは山田涼介(やまだりょうすけ）、知念侑李（ちねんゆうり）、中島裕翔（なかじまゆうと）、岡本圭人（おかもとけいと）、有岡大貴（ありおかだいき）、髙木雄也（たかぎゆうや）、伊野尾慧（いのおけい）、八乙女光（やおとめひかる）、薮宏太（やぶこうた）の9人。これからの活躍に期待大！</p>
</div>
<%= render 'form' %>