<% content_for :head do %>
<meta name="description" content="宝塚月組『アーサー王伝説』のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。宝塚月組『アーサー王伝説』のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
宝塚月組『アーサー王伝説』のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️宝塚月組『アーサー王伝説』のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2015年9月にパリで初演され、今もツアー公演としてフランス各地で旋風を巻き起こしている、フレンチ・ミュージカル「アーサー王伝説」がついに宝塚歌劇に上陸。「1789 －バスティーユの恋人たち－」と同じくドーヴ・アチア氏の脚本・作詞・作曲による「アーサー王伝説」は、「岩に突き刺さった剣を引き抜いた者が王となる」という伝説でも有名な、イギリス・ケルトに伝わる騎士道物語をドラマティックに描いた作品である。</p>
</div>
 <%= render 'form' %>