<% content_for :head do %>
<meta name="description" content="小林幸子のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。小林幸子のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
小林 幸子のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️小林 幸子のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「おもいで酒」や「とまり木」、「雪椿」など、数々の大ヒット曲を世に送り出し、日本の演歌界を代表する女性演歌歌手として、確固たる地位を築いてきた小林幸子。<br />特に年末の紅白歌合戦では、盟友である美川憲一との豪華な衣装対決が紅白の名物として多くの視聴者の人気を集め、特に小林幸子のド派手な衣装は、ネットを中心とした若者たちの間で「大きな注目を集める。
  </p>
</div>
<%= render 'form' %>