<% content_for :head do %>
<meta name="description" content="ももクロ(ももいろクローバーZ)のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。ももクロ(ももいろクローバーZ)のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
ももクロ(ももいろクローバーZ)のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ももクロ(ももいろクローバーZ)のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>スターダストプロモーション所属の女性グループ。
愛称はももクロ、ももクロちゃん。Zの文字を宙に書いて指を突き出すポーズを常用する。結成当時は全員が学生であったため、週末ヒロインと称して土日を中心にパフォーマンスを開始。2013年元日には、「国立競技場でのライブ開催」を正式に次の目標として宣言。同所が改修される直前の時期である2014年3月にその夢は実現し、女性グループでは初となる国立競技場公演となった。</p>
</div>
<%= render 'form' %>