<% content_for :head do %>
<meta name="description" content="なんばグランド花月のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。なんばグランド花月のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
なんばグランド花月のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️なんばグランド花月のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>出演者は西川きよしやオール阪神巨人等有名な方が多数出ておりまさに大阪といったらこの場所と言われるほど有名です。平日と休日で公演する回数が異なり、平日は2回公演で休日はお客さんが多いので4回ほど公演をしています。</p>
</div>
<%= render 'form' %>