<% content_for :head do %>
<meta name="description" content="西野カナのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。西野カナのチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
西野 カナのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️西野 カナのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>2008年
2月20日、シングル「I」でメジャーデビュー。CD発売に先駆けてダウンロード版が日米で同時配信された。また前年の2007年12月にはデビューシングルのクリスマス版「*I*〜Merry Christmas ver.〜」も先行ダウンロード販売された。<br />
2013年自身初となるベストアルバム『Love Collection 〜mint〜』『Love Collection 〜pink〜』を2枚同時リリース。オリコンチャートで『Love Collection 〜mint〜』が1位、『Love Collection 〜pink〜』が2位を獲得。<br />
2014年8月24枚目のシングル『Darling』がiTunes、レコチョクなどの音楽配信サイトで1位を獲得してロングヒットを果たした。<br />
2015年
9月9日、27枚目のシングル『トリセツ』をリリースし、iTunesなどの音楽配信サイトで1位を獲得。乙女心をいだいた作品で話題となった。</p>
</div>
<%= render 'form' %>