<% content_for :head do %>
<meta name="description" content="小田和正のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。小田和正のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
小田 和正のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️小田 和正のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>小田和正の美しい声は、世代を超えて多くの人を魅了し続ける。オフコースとして、そしてソロとして、これまで数え切れないほどのコンサートを行ってきた小田和正は、シンガーソングライターとして、そしてパフォーマーとして、日本のミュージックシーンに数々の金字塔を打ち立ててきた<br />
  1991年のドラマ主題歌「ラブ・ストーリーは突然に」のスマッシュヒットにより、自身初のミリオンヒットとなった。</p>
</div>
 <%= render 'form' %>