<% content_for :head do %>
<meta name="description" content="Tokyo 7th シスターズのチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。Tokyo 7th シスターズのチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
Tokyo 7th シスターズのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️Tokyo 7th シスターズのチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>アイドル育成とリズムアドベンチャーが混合された大人気ゲーム。作品の舞台は、西暦2034年の「アイドル氷河期と呼ばれる時代」。次世代アイドル劇場型スタジオ「スリーセブン（通称ナナスタ）」の二代目支配人となり、新たなアイドルを育て、プロデュースしていくことがこのゲームの目的である。<br />
   出演声優によるアイドル活動も平行して展開。2015年にはZepp Tokyoで、1st Live公演『Tokyo 7th シスターズ 1st Anniversary Live 15'→34'～H-A-J-I-M-A-L-I-V-E-!!～』を開催した。</p>
</div>
 <%= render 'form' %>