<% content_for :head do %>
<meta name="description" content="高橋大輔のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。高橋大輔のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
高橋 大輔のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️高橋 大輔のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>髙橋 大輔は、岡山県倉敷市出身の日本の元フィギュアスケート選手（男子シングル）。フィギュアスケート元世界王者。愛称は「大ちゃん」。<br />
  高いスケーティング技術を生かした世界一と呼ばれるステップと情感豊かな表現力を持ち味としていた。<br />荒川静香は高橋について「感性の高さで群を抜いており、どんなプログラムでも自分の世界で表現できる」｢一緒に滑っていて、自分が哀しくなってくるほど才能がある｣と評していた。</p>
</div>
<%= render 'form' %>