<% content_for :head do %>
<meta name="description" content="徳永英明のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。徳永英明のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
徳永 英明のチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️徳永 英明のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「壊れかけのRadio」、「LOVE IS ALL」、「レイニーブルー」など数々のヒット曲を持ち、カヴァーアルバムの「VOCALIST」シリーズでも評価が高い。
  ファンクラブは「TONY'S CLUB（トニーズクラブ）」。<br />
  声帯ポリープや難病もやもや病などを克服して、現在も精力的に音楽活動を続けている。</p>
</div>
 <%= render 'form' %>