<% content_for :head do %>
<meta name="description" content="オトクーナは国内最安値の手数料で腕時計・ブランド品の売買、仲介ができる。オトクーナにお任せ!!事業者：High&Lows合同会社 代表者:代表社員兼運営責任者 片方裕人 ホームページ:https://www.highlows.co メールアドレス:information@highlows.jp 所在地:〒107-0062
東京都港区南青山3-8-2サンブリッジ青山3F Tel:03-6869-8432">
<% end %>
<% content_for :title do %>
特定商取引法に基づく表示 | あんしん・安全取引ならオトクーナ
<% end %>
<br />
<br />
<div class="textbox-2">
  <h1>特定商取引法に基づく表示</h1>
</div>
<br />
<div class="textbox-menu">

  <h2 class="sample2">事業者</h2>
  <h5>High&Lows合同会社<br /></h5>
  <h2 class="sample2">代表者<br /></h2>
  <h5>代表社員兼運営責任者&emsp;片方裕人<br /></h5>
  <h2 class="sample2">ホームページ<br /></h2>
  <h5>https://www.highlows.co</h5>
  <h2 class="sample2">メールアドレス<br /></h2>
  <h5>information@highlows.jp<br /></h5>
  <h2 class="sample2">所在地<br /></h2>
  <h5>〒107-0062<br />
  東京都港区南青山3-8-2サンブリッジ青山3F</h5>
  <h2 class="sample2">電話番号<br /></h2>
03-6869-8432<br />
お取引やサービスについてのお問い合わせは電話では受け付けておりません<br />
大変申し訳ありませんが、お問い合わせについては個人情報保護などのため,「お問い合わせ」フォームよりご連絡をいただき対応させていただいております。<br />ご不便をおかけいたしますが、ご理解ご協力をよろしくお願いいたします。<br />
  <h2 class="sample2">販売価格帯<br /></h2>
各商品に表記された価格に準じます<br />
  <h2 class="sample2">商品等の引き渡し時期<br /></h2>
入金確認後、1~7日程度で発送<br />
  <h2 class="sample2">代金の支払方法<br /></h2>
Visa,Masterのクレジットカード、コンビニ払い、銀行ATM払い、銀行ネット払い<br />
  <h2 class="sample2">代金の支払時期<br /></h2>
出品申請及び販売申請の承認後、指定時間内のお支払い<br />
（公演日までの日数によって各取引ごとに異なります）<br/>
  <h2 class="sample2">商品代金以外に必要な費用<br/></h2>
・取引方法により配送費用<br />
・支払い時に所定の手数料<br />
・その他必要な諸費用<br />
  <h2 class="sample2">返品・交換について<br /></h2>
お客様都合による返品・交換は受け付けておりません<br />
天候や災害、事故などによる返品・交換は受け付けておりません<br>
不良品については販売者への連絡対応を行ってください<br /><br>

</div>
<br /><br /><br />