<% content_for :head do %>
<meta name="description" content="ワールドピアニストシリーズ 2016のチケット一覧。Ticket Ring(チケリン)は国内最安値の手数料でチケット売買、チケット仲介ができる。ジャニーズ、LDHや人気アイドル、海外有名アーティストのライブ・コンサート、そして各種イベント関連、演劇・宝塚、ミュージカル、プロ野球やサッカー等のスポーツ全般のチケットまで、ジャンルを問わず幅広くお取り扱いをしてます。ワールドピアニストシリーズ 2016のチケットはチケットリングにお任せ!!">
<% end %>
<% content_for :title do %>
ワールドピアニストシリーズのチケット一覧 |チケット売買ならチケリンにお任せ!!
<% end %>
<br />
<br />
<div class="indexpage">
    <div class="box100">
     <h1>⭐️⭐️ワールドピアニストシリーズ 2016のチケット一覧⭐️⭐️</h1>
    </div>
    <div class="airt-commntbox-top"></div>
<div class="airt-commntbox">
  <p>「ワールド・ピアニスト・シリーズ」とは、世界で活躍するピアニストの演奏が楽しめる特別リサイタル。名前の通り世界各国から注目される若手から、数々の伝説を残してきた巨匠まで来日する貴重な機会である。2016年もショパン・コンクールで絶賛された優勝者マウリツィオ・ポリーニをはじめ、ユリアンナ・アヴデーエワ、イーヴォ・ポゴレリッチ、ユジャ・ワン、ファジル・サイ、アレクセイ・ヴォロディン、ラン・ランなど大物ピアニストが出演する予定だ。</p>
</div>
<%= render 'form' %>