<% content_for :title do %>
お問い合わせ完了画面
<% end %>


<div align="center">
<br /><br />
  <div class="page-header">
  </div>
  <p><strong>お問い合わせいただきありがとうございました。担当の者が精査し反映、ご連絡等を差し上げます。<br />お問い合わせ内容によっては対応出来ないことも御座いますので、予めご了承ください。<br />
  今後ともブランド品がお得な『オトクーナ』を宜しくお願いします。</strong>
  </p>
</div>
<br /><br />
<div class="payment-box clearfix">
   <div class="payment-title">
     <h1>あんしん・安全取引</h1>
     <p>エスクロー決済と言われる決済手段により、購入者様に対して安心・安全な取引環境を整備</p>
     <p>※全ての支払い方法に共通の決済手数料はご負担下さい。詳しくは<%= link_to "こちらへ" ,home_kakaku_path %></p>
     <p>※決済手段について詳しく知りたい方は<%= link_to "こちらへ" ,home_payment_path %></p>
   </div>
   <div class="esukuro-photo">
     <%= image_tag"svc_bidcube_func03.gif", :size => "520x500" %>
   </div>
   <div class="esukuro-photo-comment">
    <p><strong>エスクロー決済（あんしん・安全取引）は、<span style="color: red;">売り手・買い手・事務局（弊社）間</span>での取引が行われます。<br /><br />
    大まかな取引の流れは以下の様になります。<br />
     ①商品購入時、買い手は<span style="color: red;">事務局(弊社)に代金を預ける。</span><br /><br />
     ②売り手はの入金を確認し買い手に商品を発送する。<br /><br />
     ③買い手は送付された商品を確認し、商品の到着を事務局に報告する。<br /><br />
     ④当初の<span style="color: red;">取引内容と異なる場合は(偽物や商品が届かない等)、取引破棄し全額返金</span>をすることができる。<br /><br />
     ⑤取引成立時には、売り手に代金を送金(銀行振込手続き有り)する。<br /><br />
     <span style="color: red;">*注</span>&nbsp;取引相手にカード番号、金融機関口座情報を知らせる必要はありませんので安心してお取引を行う事ができます。</strong> </p>
   </div>
</div>

<!-- <div class="ticket-sagi">
      <div class="payment-title">
        <h1>偽造商品補償制度！</h1>
        <p>購入したチケットが届いた!!しかし当日、会場へ行ったらチケットが偽物だった...<br />
          そんな最悪な場合でも<span style="color: red;">条件をクリア</span>すればチケットの代金をチケットナビが補償します。取引に不安を感じている方でも、安心です!!</p>
      </div>
      <div align="center">
    <div class="ticketphoto">
      <%= image_tag"ticket-navi.net-esukuroufile.png", :size => "1000x430" %>
    </div>
  </div>
</div> -->